<% include ../partials/header %>


    <div class="row">
        <h1 style="text-align: center">Edit Comment</h1>
        <div style="width: 30%; margin: 30px auto;">

            <form action="/campsites/<%=camp_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
                <input class="form-control form-group" type="text" value="<%=comment.text%>" name="comment[text]">
                <button class="form-group btn-primary btn btn-lg btn-block">submit</button>
            </form>

            <a href="/campsites">go back</a>

        </div>
    </div>
    <% include ../partials/footer %>
