<% include ../partials/header %>


    <div class="row">
        <h1 style="text-align: center">Add a New Comment to <%= camp.name%></h1>
        <div style="width: 30%; margin: 30px auto;">

            <form action="/campsites/<%=camp._id %>/comments" method="POST">
                <input class="form-control form-group" type="text" placeholder="your comment" name="comment[text]">
                <button class="form-group btn-primary btn btn-lg btn-block">submit</button>
            </form>

            <a href="/campsites">go back</a>

        </div>
    </div>
    <% include ../partials/footer %>
