<% include ../partials/header %>


    <div class="row">
        <h1 style="text-align: center">Edit <%= camp.name %> </h1>
        <div style="width: 30%; margin: 30px auto;">

            <form action="/campsites/<%= camp._id%>?_method=PUT" method="POST">
                <input class="form-control form-group" type="text" value="<%= camp.name %>" name="camp[name]">

                <input class="form-control form-group" type="number" value= "<%= camp.price %>" name="camp[price]" min="0.01" step="0.01">

                <input class="form-control form-group" type="text" value = "<%= camp.image %>" name="camp[image]">

                <input class="form-control form-group" type="text" value="<%= camp.description %>" name="camp[description]">

                <button class="form-group btn-primary btn btn-lg btn-block">submit</button>
            </form>

            <a href="/campsites">go back</a>

        </div>
    </div>
    <% include ../partials/footer %>
