<% include ../partials/header %>
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our camps from all over the world</p>
            <a type="button" class="btn btn-primary btn-lg" href="/">Go to the landing page</a>
        </div>
    </header>
    <a href="/campsites/new">add new camp</a>


    <div class="row text-center" style="display:flex; flex-wrap: wrap;">

        <% camps.forEach(function(camp) { %>

        <div class="col-md-3 col-sm-6">
            <h4><%= camp.name %></h4>
            <div class="thumbnail">
                <img src="<%= camp.image %>">
            </div>
            <a href="/campsites/<%= camp._id %>" class="btn btn-primary">More info</a>
        </div>

        <% }); %>


    </div>


    <a href="/">Go to the landing page</a>

    <% include ../partials/footer %>
