<% include ../partials/header %>


    <div class="row">
        <h1 style="text-align: center">Add a New Campsite</h1>
        <div style="width: 30%; margin: 30px auto;">

            <form action="/campsites" method="POST">
                <input class="form-control form-group" type="text" placeholder="name" name="campName">

                <input class="form-control form-group" type="number" placeholder="price" name="campPrice" min="0.01" step="0.01">

                <input class="form-control form-group" type="text" placeholder="photo" name="campPhoto">

                <input class="form-control form-group" type="text" placeholder="description" name="campDescription">

                <button class="form-group btn-primary btn btn-lg btn-block">submit</button>
            </form>

            <a href="/campsites">go back</a>

        </div>
    </div>
    <% include ../partials/footer %>
