<% include ../partials/header %>
<div class="row">
    <div class="col-md-3">
        <p class="lead">Yelp Camp</p>
        <div class="list-group">
            <li class="list-group-item">Item 1</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 3</li>
        </div>
    </div>
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive" src="<%=camp.image%>">
            <div class="caption-full">
                <h4 class="pull-right">$<%=camp.price%>/night</h4>
                <h4><a><%= camp.name %></a></h4>
                <p><%= camp.description %></p>
                <p>
                    <em>Submitted by </em><%= camp.author.username %>
                </p>

                <% if(currentUser && camp.author.id.equals(currentUser._id)) { %>
                <div>
                    <a href="/campsites/<%=camp._id%>/edit" class="btn btn-warning">EDIT</a>
                    <form id="delete_form" action="/campsites/<%=camp._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">DELETE</button>
                    </form>

                </div>

                <%}%>


                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a href="/campsites/<%=camp._id%>/comments/new" class="btn btn-success">New Comment</a>
            </div>


            <hr>
            <%camp.comments.forEach(function(comment) { %>
            <div class="row">
                <div class="col-md-12">
                    <strong><%=comment.author.username%></strong>
                    <span class="pull-right">10 days ago</span>
                    <p><%= comment.text%></p>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                    <a href="/campsites/<%=camp._id%>/comments/<%=comment._id%>/edit" class="btn btn-warning">
                        EDIT
                    </a>
                    <form id="delete_form" action="/campsites/<%=camp._id%>/comments/<%=comment._id%>?_method=DELETE"
                        method="POST">
                        <button class="btn btn-danger">DELETE</button>
                    </form>
                    <%}%>

                    </div>
                </div>
                <% }) %>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>